.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
       
}

.centrado {
    display: flex;
    justify-content: center;
    margin: 15px 15px 15px 15px;
    
}

